{% extends 'base/base.html' %}
{% load static %}
{% block extracss %}
	<link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet">
{% endblock %}
{% block content%}


<table class="table table-hover" id="tabla_falta_programar_cita">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Número de documento</th>
        <th scope="col">Nombre</th>
        <th scope="col">Primer apellido</th>
        <th scope="col">Segundo apellido</th>
        <th scope="col">DX</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Lugar de residencia</th>
        <th scope="col">Observaciones</th>
        <th scope="col">Fecha cita</th>
        <th scope="col">Psiquiatra</th>
        <th scope="col">Sexo</th>
        <th scope="col">Edad</th>
        <th scope="col">dia</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
        {% if object_list %}
		{% for citas in object_list %}
        <tr>
            <td>{{ citas.id }}</td>
            <td>{{ citas.numero_documento }}</td>
            <td>{{ citas.nombre }}</td>
            <td>{{ citas.primer_apellido }}</td>
            <td>{{ citas.segundo_apellido }}</td>
            <td>{{ citas.dx }}</td>
            <td>{{ citas.telefono }}</td>
            <td>{{ citas.lugar_residencia }}</td>
            <td>{{ citas.observaciones }}</td>
            <td>{{ citas.fecha_hora }}</td>
            <td>{{ citas.psiquiatra }}</td>
            <td>{{ citas.sexo }}</td>
            <td>{{ citas.edad }}</td>
            <td>{{ citas.dia }}</td>
            {% if citas.estado == 1%}
              <td>
                <button type='button' class='btn btn-success agendar' id="{{ citas.id }}">Agendar</button>
                <a class="btn btn-info editar editar" id="{{ citas.id }}" href="">Editar</a>
                <a class="btn btn-danger descartar" id="{{ citas.id }}" href="">Descartar</a>
              </td>
            {% else %}
            <td style="background-color: aquamarine; text-align: center; font-weight: bold;">
              <span>Agendado</span style="background-color: aquamarine;">
            </td>
            {% endif %}
            
        </tr>
        {% endfor %}
        {% else %}
		<h1>No hay registros de mascotas</h1>

		{% endif %}
    </tbody>
  </table> 
  <div>
    <ul class="pagination pagination-lg">
      <li class="page-item">
        {% if page_obj.has_previous %}
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
      </li>

      <li class="page-item">
        {% if page_obj.has_next %}
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
      </li>
    </ul>
  </div>
<!-- Modall Agenedar Cita Consulta Externa-->
<div class="modal fade" id="modalAngendar">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Angedar Cita</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      
      <!-- Modal body -->
      <div class="modal-body">
        <h3>Angendar</h3>
        <section id="form">
          <div class="container ">
            <div class="row">
              <div class="col-md-12 text-center">
                <div class="row">
                  <div class="col-md-12">
                    <form id="form-angedar">
                        {% csrf_token %}
                        <div class="form-row">
                          <div class="form-group col-md-4">
                            <label>Nombre</label>
                            <input type="text" class="form-control" placeholder="Nombre" id="agenda-nombre" name="agenda-nombre" disabled>
                          </div>
                          <div class="form-group col-md-4">
                            <label>Primer apellido</label>
                            <input type="text" class="form-control" id="agenda-prim-apellido"  name="agenda-prim-apellido" placeholder="Primer Apellido" disabled>
                          </div>
                          <div class="form-group col-md-4">
                            <label>Segundo apellido</label>
                            <input type="text" class="form-control" placeholder="Segundo Apellido" id="agenda-seg-apellido" name="agenda-seg-apellido" disabled>
                          </div>
                          <div class="form-group col-md-4">
                            <label>Cédula</label>
                            <input type="text" class="form-control" placeholder="Cédula" id="agenda-numero-documento" name="numero_documento" disabled>
                          </div>
                          <div class="form-group col-md-4 ">
                            <label>Teléfono</label>
                            <input type="text" class="form-control" placeholder="Teléfono" id="agenda-telefono" disabled>
                          </div>
                          <div class="form-group col-md-4">
                            <label>DX</label>
                            <select class="form-control selectBox" name="agenda-dx" id="agenda-dx" tabindex="5">
                              <option>Diagnóstico</option>
                              <option>TB</option>
                              <option>EZ</option>
                              <option>DM</option>
                              <option>CR</option>
                            </select>
                          </div>  

                          <div class="form-group col-md-4">
                            <label>Fecha agenda</label>
                            <input type="date" class="form-control" id="agenda-fecha" name="fecha" placeholder="Fecha">
                          </div>
                          <div class="form-group col-md-4">
                            <label>Hora agenda</label>
                            <input type="time" class="form-control" id="agenda-hora" name="fecha_hora"  placeholder="Hora">
                          </div>
                          <div class="form-group col-md-4">
                              <label>Día</label>
                              <input type="text" class="form-control" id="agenda-dia" name="dia"  placeholder="Día cita agenda" disabled="disabled"> 
                          </div>

                          <div class="form-group col-md-6">
                              <label>Persona que evalúa</label>
                              <select class="form-control" id="agenda-persona-evalua"  name="persona_evalua">
                                <option>Seleccione...</option>
                                <option>Juanita</option>
                                <option>Luis G</option>
                                <option>Sergio</option>
                                <option>Roby</option>
                                <option>Por definir...</option>
                            </select>
                          </div>                        
                          <div class="form-group col-md-4" hidden>
                            <input type="number" class="form-control" id="agenda-paciente-id" name="id_paciente">
                            <input type="number" class="form-control" id="agenda-index-row" name="agenda-index-row">
                            <input type="text" class="form-control" id="agenda-procedencia" name="procedencia" value="CONSULTA EXTERNA">
                          </div>                        
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>      
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="agendar">Agendar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
      
    </div>
  </div>
</div>
{% endblock %}

{% block extrajs %}
	<script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/falta_programar_cita_list.js' %}"></script>

{% endblock %}