{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweetalert.min.css' %}">
    {% block extracss %}
    {% endblock %}

    <title>{%block title %}Título {% endblock %}</title>
</head>
<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Gestión de pacientes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Falta programar cita</a>
                <div class="dropdown-menu" style="">
                    <a class="dropdown-item" href="{% url 'falta_programar_cita:falta_programar_cita_crear' %}">Crear</a>
                    <a class="dropdown-item" href="{% url 'falta_programar_cita:falta_programar_cita_listar' %}">Listar</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Agenda</a>
                <div class="dropdown-menu" style="">
                    <a class="dropdown-item" href="#">Crear</a>
                    <a class="dropdown-item" href="#">Listar</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Base de datos TB EZ</a>
                <div class="dropdown-menu" style="">
                    <a class="dropdown-item" href="#">Crear</a>
                    <a class="dropdown-item" href="#">Listar</a>
                </div>
            </li>
            </ul>
        </div>
    </nav>
    {% endblock %}
    
    {% block content %}
	    <h4>Contenido archibo base</h4>
	{% endblock %}

</body>
{% block footer%}
<footer class="page-footer font-small blue pt-4">
<h3>FOOTER</h3>
</footer>
{% endblock %}

{% block js %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/sweetalert.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
{% endblock %}

{% block extrajs %}
{% endblock %}

</html>